<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- ①从类路径下加载 Spring 配置文件，classpath 关键字特指类路径下加载 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-context.xml</param-value>
    </context-param>

    <!--②负责加载Spring容器的监听器，它将引用①处的上下文参数获得Spring配置文件的地址-->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!--
        默认加载SpringMVC的配置文件为：/WEB-INF/<servlet-name>-servlet.xml，可以使用 init-param 来指定 mvc 的配置文件。
        加载后，会自动和 context-param 的配置文件的配置合并。（spring-dao.xml, spring-service.xml）
    -->
    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:spring-MVC.xml</param-value>
        </init-param>-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <!-- 拦截所有 .html 的后缀的请求-->
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
</web-app>